* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-harmonie {
    color: #daa411 !important;
}
.btn-HARMONIE {
    background-color: white;
}
.btn-HARMONIE:hover {
    background-color: #daa411;
}

#Header #LOGO {
    width: 70px;
}
#Header #LOGOT{
    width: 120px;
}

#main .carousel-inner img {
    max-height: 70vh;
    min-height: 70vh;
    object-fit:cover; 

}

#main #carousel {
    position: relative;

}

#carousel .overlay {
    color: white;
    position: absolute;
    top: 0;
    bottom: 70%;
    left: 0;
    right: 30%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 50%;
}

#expert-container {
    background-color: #ecd1dd;
    padding: 5%;
    
}
#expert-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#registrados {
    flex-direction: column;
}
#expert-container img {
    max-width: 100%;
    height: 40vh;
    border-radius:5px;
}


#button-container{
    display: flex;
    justify-content: center;
}

#productos .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#productos .card{
    height: 70vh;

}

#productos img {
    max-height: 40vh;
    min-height: 40vh;
    object-fit:cover; 
}

#footer {
    background-color: #330c33;
}
#footer a {
    text-decoration: none;
    color: white;
}
#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

#footer div {
    align-items: center;
}

#SocialMedia {
    margin: 10px;
}

@media (min-width: 100px) {
    p {
        font-size: 24px;
    }
    .card-title {
        font-size: 24px;
    }
    
} 
@media (min-width:991px) {
    #productos p {
        font-size: 18px;
    }
   

}